# Data Acquisition
fredapi
requests
python-dotenv
curl_cffi

# Data Processing
pandas
numpy
scikit-learn
statsmodels

# Sentiment & NLP
vaderSentiment

# Visualization
matplotlib
seaborn

yfinance
tabulate
scipy
streamlit
plotly